{% extends 'base.html' %}

<!--  -->
{% block content %} {{block.super}}
<main>
    <section>
        <article id="post">
            <div class="Instagram-card">
                <div class="Instagram-card-header">
                    <img src="https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg" class="Instagram-card-user-image">
                    <a class="Instagram-card-user-name" href="#"> kaytheninja </a>
                    <a class="instagram-card-icon left" href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </div>

                <div class="Instagram-card-image">
                    <img src="https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg" height='300' width="595">
                </div>

                <div class="Instagram-card-content">
                    <a class="instagram-card-icon" href="#"><i class="far fa-heart"></i></a>
                    <a class="instagram-card-icon" href="#"><i class="far fa-comment"></i></a>
                    <a class="instagram-card-icon left" href="#"><i class="far fa-bookmark"></i></a>
                    <p class="Likes">12 Likes</p>
                    <p>
                        <a class="Instagram-card-content-user" href="#">kaytheninja</a> I wonder why I can't run that fast in my sleep.
                    </p>
                    <p class="comments">View all 12 comments</p>
                    <p><a class="user-comments" href="#">somebody</a> Wow! This is beautiful. Poetry at it's finest. You'll go far</p>
                    <p class="date">7 MINUTES AGO</p>
                    <hr>
                </div>

                <div class="Instagram-card-footer">
                    <a class="footer-action-icons" href="#"><i class="fa fa-heart-o"></i></a>
                    <input class="comments-input" type="text" placeholder="Add a comment...">
                    <!-- <a class="instagram-card-icon" href="#"><small>Post</small></a> -->
                </div>

            </div>
        </article>
    </section>
</main>
{% endblock %}